In [3]:
import os
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
DATA_DIR = r"D:\Data Science World\Challenges\Hacker Earth\How NOT to lose a customer in 10 days\data_given"

In [10]:
train_df = pd.read_csv(os.path.join(DATA_DIR,"train.csv"))
train_df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [8]:
train_df.shape, train_df.columns

((36992, 25),
 Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
        'region_category', 'membership_category', 'joining_date',
        'joined_through_referral', 'referral_id', 'preferred_offer_types',
        'medium_of_operation', 'internet_option', 'last_visit_time',
        'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
        'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
        'offer_application_preference', 'past_complaint', 'complaint_status',
        'feedback', 'churn_risk_score'],
       dtype='object'))

In [11]:
test_df = pd.read_csv(os.path.join(DATA_DIR,"test.csv"))
test_df.shape

(19919, 24)

In [12]:
train_df.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64